<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="keyword" content="关键字">
<title>忘记密码</title>
<link rel="stylesheet" type="text/css" href="../static/css/forget.css" />
</head>
<body>
	<marquee>欢迎来到该页面！！！</marquee>
	<h1>账号：admin</h1>
	<h1>密码：123456</h1>
	<!-- <img src="images/bg1.jpg" width="800" height="600" usemap="map1" ismap="ismap"/> -->
	<table width="100%" height="20" bgcolor="green" cellpadding="4" cellspacing="0">
		<tr align="center">
			<td align="center"><a href="frameset.html" target="_blank">AAAA</a></td>
			<td align="center"><a href="telnet://112.132.231.16:6688">telnet</a></td>
			<td align="center"><a href="mailto:fzy@chinauncom.cn">mailto</a></td>
			<td align="center"><a href="ftp://112.132.231.16:6689">ftp</a></td>
			<td align="center"><a href="content.html" target="footFrame">content.html</a></td>
			<td align="center"><a href="map.jsp" target="footFrame">map.jsp</a></td>
		</tr>
	</table>
</body>
</html>