<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengzi.ITSS.dao.UserContactsMapper">
  <resultMap id="BaseResultMap" type="com.fengzi.ITSS.bean.UserContacts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userOrigin" jdbcType="VARCHAR" property="userOrigin" />
    <result column="userPhone" jdbcType="VARCHAR" property="userPhone" />
    <result column="userEmail" jdbcType="VARCHAR" property="userEmail" />
    <result column="userQQ" jdbcType="VARCHAR" property="userQQ" />
    <result column="userWechat" jdbcType="VARCHAR" property="userWechat" />
    <result column="userSystem" jdbcType="VARCHAR" property="userSystem" />
    <result column="userRemark" jdbcType="VARCHAR" property="userRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userName, userOrigin, userPhone, userEmail, userQQ, userWechat, userSystem, userRemark
  </sql>
  <select id="selectByExample" parameterType="com.fengzi.ITSS.bean.UserContactsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from usercontacts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByArgs" parameterType="java.lang.String" resultMap="BaseResultMap">
    
    select * from usercontacts where 
    userName like CONCAT('%',#{args,jdbcType=VARCHAR},'%') or 
    userOrigin like CONCAT('%',#{args,jdbcType=VARCHAR},'%') or 
    userPhone like CONCAT('%',#{args,jdbcType=VARCHAR},'%') or 
    userSystem like CONCAT('%',#{args,jdbcType=VARCHAR},'%')
   
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usercontacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from usercontacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengzi.ITSS.bean.UserContactsExample">
    delete from usercontacts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengzi.ITSS.bean.UserContacts">
    insert into usercontacts (id, userName, userOrigin, 
      userPhone, userEmail, userQQ, 
      userWechat, userSystem, userRemark
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userorigin,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, #{userqq,jdbcType=VARCHAR}, 
      #{userwechat,jdbcType=VARCHAR}, #{usersystem,jdbcType=VARCHAR}, #{userremark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengzi.ITSS.bean.UserContacts">
    insert into usercontacts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userorigin != null">
        userOrigin,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="userqq != null">
        userQQ,
      </if>
      <if test="userwechat != null">
        userWechat,
      </if>
      <if test="usersystem != null">
        userSystem,
      </if>
      <if test="userremark != null">
        userRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userorigin != null">
        #{userorigin,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userqq != null">
        #{userqq,jdbcType=VARCHAR},
      </if>
      <if test="userwechat != null">
        #{userwechat,jdbcType=VARCHAR},
      </if>
      <if test="usersystem != null">
        #{usersystem,jdbcType=VARCHAR},
      </if>
      <if test="userremark != null">
        #{userremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengzi.ITSS.bean.UserContactsExample" resultType="java.lang.Long">
    select count(*) from usercontacts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update usercontacts
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userorigin != null">
        userOrigin = #{record.userorigin,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.useremail != null">
        userEmail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.userqq != null">
        userQQ = #{record.userqq,jdbcType=VARCHAR},
      </if>
      <if test="record.userwechat != null">
        userWechat = #{record.userwechat,jdbcType=VARCHAR},
      </if>
      <if test="record.usersystem != null">
        userSystem = #{record.usersystem,jdbcType=VARCHAR},
      </if>
      <if test="record.userremark != null">
        userRemark = #{record.userremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update usercontacts
    set id = #{record.id,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      userOrigin = #{record.userorigin,jdbcType=VARCHAR},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      userEmail = #{record.useremail,jdbcType=VARCHAR},
      userQQ = #{record.userqq,jdbcType=VARCHAR},
      userWechat = #{record.userwechat,jdbcType=VARCHAR},
      userSystem = #{record.usersystem,jdbcType=VARCHAR},
      userRemark = #{record.userremark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengzi.ITSS.bean.UserContacts">
    update usercontacts
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userorigin != null">
        userOrigin = #{userorigin,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        userEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userqq != null">
        userQQ = #{userqq,jdbcType=VARCHAR},
      </if>
      <if test="userwechat != null">
        userWechat = #{userwechat,jdbcType=VARCHAR},
      </if>
      <if test="usersystem != null">
        userSystem = #{usersystem,jdbcType=VARCHAR},
      </if>
      <if test="userremark != null">
        userRemark = #{userremark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengzi.ITSS.bean.UserContacts">
    update usercontacts
    set userName = #{username,jdbcType=VARCHAR},
      userOrigin = #{userorigin,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      userQQ = #{userqq,jdbcType=VARCHAR},
      userWechat = #{userwechat,jdbcType=VARCHAR},
      userSystem = #{usersystem,jdbcType=VARCHAR},
      userRemark = #{userremark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>